html body {
    font-family: 'Roboto Mono', monospace;
}

.bfont {
    font-family: 'Roboto', sans-serif;
}

.hoverb:hover {
    background-color: #000000dd;
    color: #F2F4F3 !important;
}

.bg-info-dark {
    background-color: #4B9EB6;
}

.ul-width {
    width: fit-content;
}

.hero {
    background-image: url(../img/code.jpg);
    background-size: cover;
}

.brand-text {
    font-size: 1.5rem;
    text-shadow: 2px 2px 8px #000000;
}

.nav-link:hover {
    color: #F2F4F3 !important;
    text-shadow: 1px 1px 3px #000000;
}

.parallax1 {
    background-color: #1D2428;
    background-image: url(../img/1D2428.jpeg);
}

.parallax2 {
    background-color: #2A3439;
    background-image: url(../img/2A3439.jpeg);
}

.parallax3 {
    background-color: #1D2428;
    background-image: url(../img/1D2428.jpeg);
}

.hero-text {
    text-shadow: 6px 6px 10px 10px #000000;
}

.text-info-dark {
    color: #4B9EB6;
}

#main-text {
    font-size: 5rem;
}

.hero-h4 {
    font-size: 2rem;
}

.hero-h4, .hero-h5 {
    color: #F2F4F3;
}

.acc-cap {
    font-size: 4rem;
    text-shadow: 2px 2px 8px #1D2428;
    color: #5BC0DE;
}

.accordion-button:hover {
    color: #5BC0DE;
}

.con-cap {
    text-shadow: 2px 2px 8px #1D2428;
}

.div-shadow {
    box-shadow: 4px 4px 15px 5px #000000;
    border-radius: 2rem;
}

.accordion-button {
    background-color: #1D2428 !important;
    color: #4B9EB6;
    font-size: 2rem;
}

.accordion-body {
    background-color: #2A3439;
    font-size: 1.5rem;
    color: #F2F4F3;
}

.accordion-button:not(.collapsed) {
    color: #5Bc0DE;
    text-shadow: inset 1px 1px 3px #F2F4F3;
}

.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%234B9EB6'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.accordion-button:hover:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%235BC0DE'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.project-links {
    text-decoration: none;
    color: #4B9EB6;
    font-size: 1rem;
    display: inline-block;
}

.project-links:hover {
    color: #5BC0DE;
    text-shadow: 1px 1px 1px #000000;
}

.selfie {
    max-height: 30rem;
    max-width: 30rem;
}

.about-head {
    font-size: 4rem;
}

.about-body {
    font-size: 1rem;
    color: #F2F4F3;
}

.formlabel {
    color: #5BC0DE;
    padding-bottom: 1rem;
}

.socials {
    text-decoration: none;
    color: #4B9EB6;
    padding-left: 1rem;
    font-size: 2rem;
}

.socials:hover {
    color: #5BC0DE;
    text-shadow: 1px 1px 5px #000000;
}

.socialsf {
    text-decoration: none;
    color: #1D2428;
    padding-left: 1rem;
    font-size: 2rem;
}

.socialsf1 {
    text-decoration: none;
    color: #1D2428;
    font-size: 2rem;
}

.socialsf1:hover {
    color: #2A3439;
    text-shadow: 1px 1px 1px #000000;
}

.socialsf:hover {
    color: #2A3439;
    text-shadow: 1px 1px 1px #000000;
}

.footer-p {
    color: #1D2428;
}

.acc-text {
    text-align: left;
}

.btn-info:hover {
    background-color: #4B9EB6;
    box-shadow: inset 1px 1px 3px #000000;
}

.accordion-button:focus {
    box-shadow: none;
}

/* Media Queries */

@media only screen and (max-width:767px) {
    .parallax {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .selfie {
        padding-bottom: 2rem;
        padding-top: 2rem;
    }
}

@media only screen and (min-width:768px) {
    .parallax{
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    
}

@media only screen and (max-width: 1130px) {
    .accordion-body {
        display: block;
        flex-wrap: wrap;
    }
    
    img {
        margin: auto;
    }

    .acc-text {
        padding-top: 2rem;
    }
    
}

@media only screen and (min-width: 1131px) {
    .acc-text {
        padding-left: 2rem;
    }

    img {
        margin: auto;
    }
}